html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #C6C6C6;
    color: rgb(34, 34, 34)
}

.container{
    width: 375px;
    display:block;
    margin:auto;
    background-color: white; 
    margin-top:15px;
    border-radius: 12px;
}

header{ 
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:67px;
    border-bottom: 1px solid #C6C6C6;
    padding: 5px;
}
.avatar-img{
    border-radius: 100%;
    width: 34px;
}
.logo-img{
    width: 127px;
}

.main-img{
    width:100%;
}
.icon{
    height: 22px;
    margin-right: 5px;
}

.icon:hover,
.icon:focus {
    transform: scale(1.1);
    opacity: 0.6;
}


.main-header{
    display:flex;
    height: 67px;
    align-items: center;
}

p {
    margin:0;
}
.user-info{
    margin: 0 8px;
}
.likes-section{
    padding: 10px 10px 25px 10px;
    border-bottom:#f6f6f6 solid 10px;
}

/* utility classes */
.bolder{
    font-weight: 900;
    margin-right: 3px;
}
.p-5{
    padding:5px 10px;
}